:root {
    --primary: #45A29E;
    --primary-active: #44DAD0;
    --font-color: #FFFFFF;
    --red-color: #FA0A0A; 
    --black-color: #000;
    --bg-box: rgba(88, 88, 88, 0.8);
    --bg-question-box: rgba(88, 88, 88, 0.95);
    --bg-question-box--disabled: rgba(45, 45, 45);
  };

