@import url(../css/reset.css);
@import url(../css/colors.css);

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    color: #FFFFFF;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    padding: 2rem;
    min-height: 100vh;
}

.title {
    font-size: 14.4em;
    color: var(--primary);
    text-transform: uppercase; 
    margin: 0;  
    padding-bottom: 0;
    line-height: 14rem;
    text-align: center;
}

.subtitle {
    font-size: 3em;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.text-box {
    font-size: 2em;
    padding: 2rem;
    margin: 4rem 2rem 4rem 2rem;
    text-align: justify;
    background-color: var(--bg-box);
}

@media screen and (min-width: 600px) {
    .text-box--fixed-width {
        width: 70%;
    }
}

.btn {
    border: none;
    color: #000;
    font-weight: bold;
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    border-radius: 0.8rem;
}

.btn:hover {
    transition-duration: 0.4s;
    background-color: var(--primary-active);
}

